<h1>All available details on this category:</h1>

<ul>
  <li>Name: <%= @category.name %></li>
  <li>Definition <%= @category.subject %></li>
</ul>

<a href="/terms">Back to the list of terms</a>
<a href="/categories">Back to the list of categories</a>
<a href="/">Back to the homepage</a>
