
<form action="/categories" method="post">
  <div class="edit">
  <label>Name <input name="category[name]" type="text"></label>
  <label>Subject <input name="category[subject]" type="text"></label>
</div>

<p>
    <input type="submit" value="Add this category">
</p>

</form>
