<h1>All available details on this term:</h1>

<ul>
  <li>Name: <%= @term.name %></li>
  <li>Definition <%= @term.definition %></li>
  <li>Author <%= @term.author %></li>
  <li>Resource or Link <%= @term.web_link %></li>
</ul>

<a href="/terms">Back to the list of terms</a>
