
<form action="/terms" method="post">
  <div class="edit">
  <label>Name <input name="term[name]" type="text"></label>
  <label>Definition <input name="term[definition]" type="text"></label>
  <label>Author <input name="term[author]" type="text"></label>
  <label> Web link <input name="term[web_link]" type="text"></label>
</div>

<p>
    <input type="submit" value="Add this term">
</p>

</form>
